<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.spring_project.mapper.MemberMapper">
	<select id="isLogin" resultType="map">
        SELECT a.code AS code, a.nickname AS nickname, e.level AS level, c.status AS status, c.login_date AS login_date, d.content AS reason
          FROM member AS a
          JOIN info_detail AS b
            ON a.code = b.code
          JOIN service_log AS c
            ON a.code = c.code
          JOIN reason AS d
            ON c.reason = d.num
          JOIN grade AS e
            ON b.acc_money BETWEEN e.lowest AND e.highest
         WHERE 1=1
         <if test="!id.equals('') and id != null">
		 	AND a.id=#{id}
		 </if>
		 <if test="!passwd.equals('') and passwd != null">
		 	AND a.passwd=#{passwd}
		 </if>
    </select>
</mapper>
